[submodule "src/VMTHook"]
	path = src/VMTHook
	url = https://github.com/aixxe/vmthook.git
[submodule "src/ImGui"]
	path = src/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "src/JSON"]
	path = src/JSON
	url = https://github.com/nlohmann/json.git
